*{
    background-color: khaki;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    width: 80%;
    height: 100%;
    margin:auto;
    padding: 30px;
}

th, td {
    border: 1px solid black;
}

#centrado{
    text-align: center;
    border: none;
}

#titulo {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

#derecha {
    text-align: end;
    font-size: medium;
    font-weight: bold;
    border: none;
}

#box{
    font-size: 14px;
}

#boton{
    font-weight: bold;
    text-align: center;
    padding: 15px;
    background-color: rgb(0, 162, 255);
}

td {
    padding: 20px;
    border-bottom: solid 1px;
    border: none;
}

input{
    background-color: aliceblue;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}